body {
  margin: 0;
  width: 100vw;
  height: 95vh;
  user-select: none;

  overflow: hidden;
}

#xeokit_canvas {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  overflow: hidden;
  background: lightblue;
  background-image: linear-gradient(lightblue, white);
}
